/* COLORS
Red: #FF0000
Yellow: #FFDE00
Blue: #3B4CCA
*/

* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Tajawal', sans-serif;
  color: #FFDE00;
  background-color: #FF0000;
}
.frontPageCatchAll {
  display: flex;
  justify-content: center;
  text-align: center;
}
.allPokemonContainer {
  display: flex-wrap;
}
h1 {
  margin: 2rem;
}
.individualPokemonContainer {
  font-size: 1.5rem;
  margin: 3rem;
  padding: 1rem;
  box-shadow: 1rem 1rem 1rem 0rem #FFDE00, -1rem -1rem 1rem 0rem #FFDE00;
  background-color: #3B4CCA;
  font-weight: bold;
  border-radius: 2rem;
}
.individualPokemonContainer button {
  margin: 1rem;
}
button {
  color: #3B4CCA;
  background-color: #FFDE00;
  border-radius: 1rem;
  border: .7rem ridge #3B4CCA;
  font-weight: bold;
}